*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: sans-serif;
}

i,svg{
    pointer-events: none;
}

.kick-pad,.snare-pad ,.hihat-pad{
    width: 5rem;
    height: 5rem;
    margin: 1rem .5rem;
    cursor: pointer;
}

.kick-pad{
    background: #2b91b973;
}
.snare-pad{
    background: #51e08875;
}
.hihat-pad{
    background: #e051886b;
}

.kick-pad.active{
    background: #2b91b9;
}
.snare-pad.active{
    background: #51e088;
}
.hihat-pad.active{
    background: #e05188;
}

.sequencer{
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.kick-track, .hihat-track,.snare-track{
    display: flex;
    align-items: center;
    width: 70%;
    justify-content: space-between;
    margin-top: 5rem;
}

.kick , .snare ,.hihat{
    display: flex;
}

.controls{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex: 1;
    margin: 0rem 2rem;

}

.controls button{
    padding: 1rem;
    border:none;
    background: rgb(88, 88, 88);
    color: white;
    font-size: 1rem;
    cursor: pointer;
    transition: all .5s ease;
}
.pad{
    transition: all .5s ease;
}

.play{
    padding: 1rem 2rem;
    font-size:1.5rem;
    color:white;
    background:rgb(88, 88, 88);
    border: none;
    margin-top: 3rem;

}

select{
    padding: 1rem;
    font-size: 1rem;
    
}

.mute.active{
    background: #d41b1b;
}
@keyframes playTrack{
    0%{
        transform: scale(1);
    }
    100%{
        transform: scale(1.2);
    }
}